@charset "UTF-8";

body{
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	overflow-y: scroll;
	min-height: 580px;
	min-width: 340px;
}

header, nav {
	border: 1px solid #000;
	margin: 0;
	padding: 6px;
	display: flex;
	width: 100%;
	height: 64px;
	max-height: 64px;
	min-height: 64px;
	margin-bottom: 24px;
	box-sizing: border-box;
}

nav {
	height: 32px;
	max-height: 32px;
	min-height: 32px;
}

section[id=main]{
	margin: 0;
	margin-bottom: 24px;
	padding: 24px;
	padding-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}

section section,
section aside {
	display: flex;
	border: 1px solid #000;
	flex-direction: column;
	box-sizing: border-box;
	min-width: 200px;
	margin-bottom: 24px;
}

section aside {
	width: 60%;
    overflow: auto;
    box-sizing: border-box;
}

section aside textarea {
	height: 100%;
	width: 100%;
}

section section {
	margin-right: 24px;
	width: 25%;
	padding: 12px;
	border: none;
	box-sizing: border-box;
	min-height: 378px;
	min-width: 316px;
}

section section form {
	border: 1px solid #000;
	display: flex;
	padding: 12px;
	margin: 0;
	margin-bottom: 18px;
	flex-direction: column;
	box-sizing: border-box;
}

section section form:last-child{
	margin-bottom: 0;
}

section section form div {
	margin-bottom: 12px;
}

section section form div:last-child {
	margin-bottom: 0;
}

section section form label,
section section form input {
	display: inline-block;
	height: 24px;
	width: auto;
}

section section form label {
	width: 100px;
}

footer {
	display: flex;
	margin:0;
	padding: 6px;
	border: 1px solid #000;
	width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 900px) {
	body{
		min-height: 670px;
	}
}