<%@ tag language="java" pageEncoding="UTF-8"%>
<%@ taglib prefix="f" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>

<%@ attribute name="temp" required="true" %>

<form id='search_stripe'>
	<label>User name:</label></label><input type='text' id='search_name'/>
	<input type='submit' value="find"/>
</form>